@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font: normal 16px "Roboto", sans-serif;
}

a {
  color: #0f141e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 750px;
  margin: auto;
}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.photo {
  width: 180px;
  height: 240px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  margin-bottom: 20px;
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

.social {

}

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2), td:nth-child(3) {
  color: #86898f;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input, .form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  background: transparent;
}

.input {
  margin-bottom: 300px;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
}

.row > .form-group:first-child {
  margin-right: 20px;
}









